
.section-1 {
  background-color: #111827;
  height: 100%;
  width: 100%;
  align-content: center;
  padding: 5%;
}

.section-2 {
  background-color: #111827;
  height: 100%;
  width: 100%;
  align-content: center;
  padding: 5%;
}
